@import url(burgerstyles.css);
:root {
    --height-factor: 1.5;}

nav ul li {
    list-style-type: none;
    display:block; 
}
a{
    display:inherit;
}
nav {
    overflow: hidden;
    position: fixed;
    background-color;
}